<div class="sixteen columns clearfix collection_nav">
  <div class="center">
  	<img src="{{ '960x460-H1-Policies.png' | file_url }}" alt="{{ page.title }}">
  </div>
</div>

<div class="sixteen columns page">
  {% include 'page-multi-column', content: page.content %}
</div>