<div class="sixteen columns clearfix collection_nav">
  <div class="center">
  	<img src="{{ '960x460-H1-Our-Story.png' | file_url }}" alt="{{ page.title }}">
  </div>
</div>

<div class="eight columns offset-by-four page">
  {{ page.content }}
</div>

<div class="six columns offset-by-two alpha">
  <img class="img-thumbnail-custom" src="//cdn.shopify.com/s/files/1/0665/0171/files/408x219-Bio-Gillian2.png?v=1499295834" />
  <h2>Gillian Reynolds</h2>
  <h5 class="uppercase">Founder/Chief Jammer</h5>
  <p>
    Jamnation, made in SF by Gillian Reynolds, celebrates exquisite fruit, with a focus on sustainability &amp; superior ingredients.
    On a trip to Brazil in 2013, the simple fruits she tasted from small, local farms exploded with flavors that blew her away.
    Returning to SF, she sought out the same intensity of flavor in local organic fruit from small Northern California farms.
    Her desire to share these exquisite fruits with friends &amp; family in NYC inspired her to create artisanal jams that are bright, bold &amp; meticulously paired.
    A Stanford economics major, she was struck by the impact of global trade on farmers in developing countries hence, all products use Fairtrade sugar + spices.
  </p>
</div>
<div class="six columns omega">
  <img class="img-thumbnail-custom" src="//cdn.shopify.com/s/files/1/0665/0171/files/408x219-Bio-Christopher.png?3863" />
  <h2>Christopher Reynolds</h2>
  <h5 class="uppercase">Chef Consultant</h5>
  <p>
    Trained at Le Cordon Bleu in France and having worked on an Italian agriturismo, Chris cooked his way through Europe and back to New York, 
    working at some of the top restaurant in the city such as David Burke’s Fishtail and Morimoto where is currently a senior sous chef.
    When Gillian came up with the idea of Jamnation, Chris began helping her craft the recipes and ideas that brought the company to life, 
    working together on the concept, branding and values of the company with an ongoing commitment to create and curate extraordinary flavor combinations from the best, 
    local seasonal fruit paired together with Fairtrade sugar and spices from farms in developing countries.
  </p>
</div>