<div class="sixteen columns clearfix collection_nav">
  <div class="center">
    <a href="http://owenfranken.com" class="underline" target="_blank" rel="noopener noreferrer">
        <img src="{{ '960x460-H1-Sustainability.png' | file_url }}" alt="{{ page.title }}"> </a>
  </div>
</div>

<div class="sixteen columns page">
  {{ page.content }}
</div>