<div id="404">
  <div class="well">
    <h2>Page not found</h2>
    <p>
      Sorry, we couldn't find this page.
      <a href="/collections/jams" class="btn btn-default" title="Continue Shopping">
        continue shopping
      </a>
    </p>
  </div>
</div>