<div id="blog">
    <!--<h1 class="header-bar text-center">{{ blog.title }}</h1>-->
    <img class="img-responsive" src="//cdn.shopify.com/s/files/1/0665/0171/files/960x460-H1-Recipes.png?15669799446263033780" />
    <br /><br />

    <div class="text-center">
        <h3 class="text-lowercase">{{ blog.title }}</h3>
        <ul class="list-inline">
            <li>
                <a id="aSortByPrimary" href="javascript:void(0);" class="text-muted">Sort by Course</a>
            </li>
            <li>
                |
            </li>
            <li>
                <a id="aSortByJam" href="javascript:void(0);">Sort by Jam</a>
            </li>
        </ul>
    </div>
    <br /><br />

    <div id="divSortByPrimary">
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <div class="row">
                    <div class="col-sm-4">
                        <h3 class="text-lowercase">Breakfast</h3>
                        <ul>
                            <li>
                                <a href="//jamnationjams.myshopify.com/blogs/recipes/jam-filled-donuts" class="underline">Jam-filled Donuts</a>
                            </li>
                            <li>
                                <a href="//jamnationjams.myshopify.com/blogs/recipes/to-peach-his-own-turnovers" class="underline">To Peach His Own Turnovers</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-sm-4">
                        <h3 class="text-lowercase">Dinner</h3>
                        <ul>
                            <li>
                                <a href="//jamnationjams.myshopify.com/blogs/recipes/chinese-meyer-lemon-chicken" class="underline">Chinese Meyer Lemon Chicken</a>
                            </li>
                            <li>
                                <a href="//jamnationjams.myshopify.com/blogs/recipes/chipotle-bbq-chicken-skewers" class="underline">Chipotle BBQ Chicken Skewers</a>
                            </li>
                            <li>
                                <a href="//jamnationjams.myshopify.com/blogs/recipes/nectarine-glazed-cornish-hens" class="underline">Nectarine Glazed Cornish Hens</a>
                            </li>
                            <li>
                                <a href="//jamnationjams.myshopify.com/blogs/recipes/to-peach-his-own-glazed-ham" class="underline">To Peach His Own Glazed Ham</a>
                            </li>
                            <li>
                                <a href="//jamnationjams.myshopify.com/blogs/recipes/to-peach-his-own-spiced-lamb-chops" class="underline">To Peach His Own Spiced Lamb Chops</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-sm-4">
                        <h3 class="text-lowercase">Dessert</h3>
                        <ul>
                            <li>
                                <a href="//jamnationjams.myshopify.com/blogs/recipes/angel-food-cake-with-meyer-lemon-ginger-cream" class="underline">Angel Food Cake With Meyer Lemon Ginger Cream</a>
                            </li>
                            <li>
                                <a href="//jamnationjams.myshopify.com/blogs/recipes/jam-blossoms" class="underline">Jam Blossoms</a>
                            </li>
                            <li>
                                <a href="//jamnationjams.myshopify.com/blogs/recipes/orange-marmalade-cake" class="underline">Orange Marmalade Cake</a>
                            </li>
                            <li>
                                <a href="//jamnationjams.myshopify.com/blogs/recipes/pb-j-thumbprint-cookies" class="underline">PB&J Thumbprint Cookies</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-offset-2 col-sm-4">
                        <h3 class="text-lowercase">Appetizer</h3>
                        <ul>
                            <li>
                                <a href="//jamnationjams.myshopify.com/blogs/recipes/camembert-and-rose-to-the-grindstone-phyllo-cups" class="underline">Camembert and Rose to the Grindstone Phyllo Cups</a>
                            </li>
                            <li>
                                <a href="//jamnationjams.myshopify.com/blogs/recipes/razzle-bazzle-meatballs" class="underline">Razzle Bazzle Meatballs</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-sm-4">
                        <h3 class="text-lowercase">Soups/Sides</h3>
                        <ul>
                            <li>
                                <a href="//jamnationjams.myshopify.com/blogs/recipes/midnight-in-pearis-butternut-squash-soup" class="underline">Midnight in Pearis Butternut Squash Soup</a>
                            </li>
                            <li>
                                <a href="//jamnationjams.myshopify.com/blogs/recipes/midnight-in-pearis-sweet-potatoes" class="underline">Midnight in Pearis Sweet Potatoes</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="divSortByJam" class="displayNone">
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <div class="row">
                    <div class="col-sm-4">
                        <h3 class="text-lowercase">Apricot Up in the Moment</h3>
                        <ul>
                            <li>
                                <a href="//jamnationjams.myshopify.com/blogs/recipes/jam-blossoms" class="underline">Jam Blossoms</a>
                            </li>
                            <li>
                                <a href="//jamnationjams.myshopify.com/blogs/recipes/pb-j-thumbprint-cookies" class="underline">PB&J Thumbprint Cookies</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-sm-4">
                        <h3 class="text-lowercase">Cardamom Knows Zest</h3>
                        <ul>
                            <li>
                                <a href="//jamnationjams.myshopify.com/blogs/recipes/orange-marmalade-cake" class="underline">Orange Marmalade Cake</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-sm-4">
                        <h3 class="text-lowercase">In the Limelight</h3>
                        <ul>
                            <li>
                                <a href="//jamnationjams.myshopify.com/blogs/recipes/jam-filled-donuts" class="underline">Jam-filled Donuts</a>
                            </li>
                            <li>
                                <a href="//jamnationjams.myshopify.com/blogs/recipes/pb-j-thumbprint-cookies" class="underline">PB&J Thumbprint Cookies</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <h3 class="text-lowercase">Midnight in Pearis</h3>
                        <ul>
                            <li>
                                <a href="//jamnationjams.myshopify.com/blogs/recipes/chipotle-bbq-chicken-skewers" class="underline">Chipotle BBQ Chicken Skewers</a>
                            </li>
                            <li>
                                <a href="//jamnationjams.myshopify.com/blogs/recipes/midnight-in-pearis-butternut-squash-soup" class="underline">Midnight in Pearis Butternut Squash Soup</a>
                            </li>
                            <li>
                                <a href="//jamnationjams.myshopify.com/blogs/recipes/midnight-in-pearis-sweet-potatoes" class="underline">Midnight in Pearis Sweet Potatoes</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-sm-4">
                        <h3 class="text-lowercase">To Peach His Own</h3>
                        <ul>
                            <li>
                                <a href="//jamnationjams.myshopify.com/blogs/recipes/jam-blossoms" class="underline">Jam Blossoms</a>
                            </li>
                            <li>
                                <a href="//jamnationjams.myshopify.com/blogs/recipes/pb-j-thumbprint-cookies" class="underline">PB&J Thumbprint Cookies</a>
                            </li>
                            <li>
                                <a href="//jamnationjams.myshopify.com/blogs/recipes/to-peach-his-own-glazed-ham" class="underline">To Peach His Own Glazed Ham</a>
                            </li>
                            <li>
                                <a href="//jamnationjams.myshopify.com/blogs/recipes/to-peach-his-own-spiced-lamb-chops" class="underline">To Peach His Own Spiced Lamb Chops</a>
                            </li>
                            <li>
                                <a href="//jamnationjams.myshopify.com/blogs/recipes/to-peach-his-own-turnovers" class="underline">To Peach His Own Turnovers</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-sm-4">
                        <h3 class="text-lowercase">Razzle Bazzle</h3>
                        <ul>
                            <li>
                                <a href="//jamnationjams.myshopify.com/blogs/recipes/jam-blossoms" class="underline">Jam Blossoms</a>
                            </li>
                            <li>
                                <a href="//jamnationjams.myshopify.com/blogs/recipes/jam-filled-donuts" class="underline">Jam-filled Donuts</a>
                            </li>
                            <li>
                                <a href="//jamnationjams.myshopify.com/blogs/recipes/pb-j-thumbprint-cookies" class="underline">PB&J Thumbprint Cookies</a>
                            </li>
                            <li>
                                <a href="//jamnationjams.myshopify.com/blogs/recipes/razzle-bazzle-meatballs" class="underline">Razzle Bazzle Meatballs</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-offset-2 col-sm-4">
                        <h3 class="text-lowercase">Rose to the Grindstone</h3>
                        <ul>
                            <li>
                                <a href="//jamnationjams.myshopify.com/blogs/recipes/camembert-and-rose-to-the-grindstone-phyllo-cups" class="underline">Camembert and Rose to the Grindstone Phyllo Cups</a>
                            </li>
                            <li>
                                <a href="//jamnationjams.myshopify.com/blogs/recipes/jam-blossoms" class="underline">Jam Blossoms</a>
                            </li>
                            <li>
                                <a href="//jamnationjams.myshopify.com/blogs/recipes/nectarine-glazed-cornish-hens" class="underline">Nectarine Glazed Cornish Hens</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-sm-4">
                        <h3 class="text-lowercase">Sublemonal Message</h3>
                        <ul>
                            <li>
                                <a href="//jamnationjams.myshopify.com/blogs/recipes/angel-food-cake-with-meyer-lemon-ginger-cream" class="underline">Angel Food Cake With Meyer Lemon Ginger Cream</a>
                            </li>
                            <li>
                                <a href="//jamnationjams.myshopify.com/blogs/recipes/chinese-meyer-lemon-chicken" class="underline">Chinese Meyer Lemon Chicken</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        var aSortByPrimary = $("a#aSortByPrimary");
        var aSortByJam = $("a#aSortByJam");
        var divSortByPrimary = $("div#divSortByPrimary");
        var divSortByJam = $("div#divSortByJam");

        aSortByPrimary.click(function () {
            aSortByJam.removeClass("text-muted");
            aSortByPrimary.addClass("text-muted");

            divSortByJam.stop(true, true);
            divSortByPrimary.stop(true, true);

            divSortByJam.fadeOut("normal", function () {
                divSortByPrimary.fadeIn();
            });
        });

        aSortByJam.click(function () {
            aSortByPrimary.removeClass("text-muted");
            aSortByJam.addClass("text-muted");

            divSortByPrimary.stop(true, true);
            divSortByJam.stop(true, true);

            divSortByPrimary.fadeOut("normal", function () {
                divSortByJam.fadeIn();
            });
        });
    });
</script>