<div id="blog">
    <!--<h1 class="header-bar text-center">{{ blog.title }}</h1>-->
    <img class="img-responsive" src="//cdn.shopify.com/s/files/1/0665/0171/files/960x460-H1-Pairings.png?9494414393561250981" />
    <br /><br />

    <div class="text-center">
        <h3 class="text-lowercase">{{ blog.title }}</h3>
        <ul class="list-inline">
            <li>
                <a id="aSortByPrimary" href="javascript:void(0);" class="text-muted">Sort by Cheese</a>
            </li>
            <li>
                |
            </li>
            <li>
                <a id="aSortByJam" href="javascript:void(0);">Sort by Jam</a>
            </li>
        </ul>
    </div>
    <br /><br />

    <div id="divSortByPrimary">
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <div class="row">
                    <div class="col-sm-4">
                        <h3 class="text-lowercase">Cow's Milk</h3>
                        <ul>
                            <li>
                                <a href="//jamnationjams.myshopify.com/blogs/pairings/apricot-up-in-the-moment-gorgonzola-dolce" class="underline">Apricot Up In The Moment + Gorgonzola Dolce</a>
                            </li>
                            <li>
                                <a href="//jamnationjams.myshopify.com/blogs/pairings/cardamom-knows-zest-nicasio-valley-cheese-foggy-morning" class="underline">Cardamom Knows Zest + Foggy Morning</a>
                            </li>
                            <li>
                                <a href="//jamnationjams.myshopify.com/blogs/pairings/in-the-limelight-cowgirl-creamery-red-hawk" class="underline">In the Limelight + Red Hawk</a>
                            </li>
                            <li>
                                <a href="//jamnationjams.myshopify.com/blogs/pairings/midnight-in-pearis-cabot-clothbound" class="underline">Midnight in Pearis + Cabot Clothbound</a>
                            </li>
                            <li>
                                <a href="//jamnationjams.myshopify.com/blogs/pairings/midnight-in-pearis-shakerag-blue" class="underline">Midnight in Pearis + Shakerag Blue</a>
                            </li>
                            <li>
                                <a href="//jamnationjams.myshopify.com/blogs/pairings/to-peach-his-own-marin-french-petite-breakfast" class="underline">To Peach His Own + Petite Breakfast</a>
                            </li>
                            <li>
                                <a href="//jamnationjams.myshopify.com/blogs/pairings/razzle-bazzle-picolo" class="underline">Razzle Bazzle + Picolo</a>
                            </li>
                            <li>
                                <a href="//jamnationjams.myshopify.com/blogs/pairings/rose-to-the-grindstone-essex" class="underline">Rose To The Grindstone + Essex Comte</a>
                            </li>
                            <li>
                                <a href="//jamnationjams.myshopify.com/blogs/pairings/sublemonal-message-fiscalini-farms-san-joaquin-gold" class="underline">Sublemonal Message + San Joaquin Gold</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-sm-4">
                        <h3 class="text-lowercase">Sheep's Milk</h3>
                        <ul>
                            <li>
                                <a href="//jamnationjams.myshopify.com/blogs/pairings/in-the-limelight-paska-sirana" class="underline">In the Limelight + Paska Sirana</a>
                            </li>
                            <li>
                                <a href="//jamnationjams.myshopify.com/blogs/pairings/in-the-limelight-garden-variety-sweet-alyssum" class="underline">In the Limelight + Sweet Alyssum</a>
                            </li>
                            <li>
                                <a href="//jamnationjams.myshopify.com/blogs/pairings/to-peach-his-own-ledyard" class="underline">To Peach His Own + Ledyard</a>
                            </li>
                            <li>
                                <a href="//jamnationjams.myshopify.com/blogs/pairings/sublemonal-message-manchego-1605" class="underline">Sublemonal Message + Manchego 1605</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-sm-4">
                        <h3 class="text-lowercase">Goat's Milk</h3>
                        <ul>
                            <li>
                                <a href="//jamnationjams.myshopify.com/blogs/pairings/midnight-in-pearis-lamuse-branbander-goat-gouda" class="underline">Midnight in Pearis + Goat Gouda</a>
                            </li>
                            <li>
                                <a href="//jamnationjams.myshopify.com/blogs/pairings/razzle-bazzle-kenne" class="underline">Razzle Bazzle + Kenne</a>
                            </li>
                            <li>
                                <a href="//jamnationjams.myshopify.com/blogs/pairings/sublemonal-message-providence" class="underline">Sublemonal Message + Providence</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="divSortByJam" class="displayNone">
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <div class="row">
                    <div class="col-sm-4">
                        <h3 class="text-lowercase">Apricot Up in the Moment</h3>
                        <ul>
                            <li>
                                <a href="//jamnationjams.myshopify.com/blogs/pairings/apricot-up-in-the-moment-gorgonzola-dolce" class="underline">Apricot Up In The Moment + Gorgonzola Dolce</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-sm-4">
                        <h3 class="text-lowercase">Cardamom Knows Zest</h3>
                        <ul>
                            <li>
                                <a href="//jamnationjams.myshopify.com/blogs/pairings/cardamom-knows-zest-nicasio-valley-cheese-foggy-morning" class="underline">Cardamom Knows Zest + Foggy Morning</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-sm-4">
                        <h3 class="text-lowercase">In the Limelight</h3>
                        <ul>
                            <li>
                                <a href="//jamnationjams.myshopify.com/blogs/pairings/in-the-limelight-cowgirl-creamery-red-hawk" class="underline">In the Limelight + Red Hawk</a>
                            </li>
                            <li>
                                <a href="//jamnationjams.myshopify.com/blogs/pairings/in-the-limelight-paska-sirana" class="underline">In the Limelight + Paska Sirana</a>
                            </li>
                            <li>
                                <a href="//jamnationjams.myshopify.com/blogs/pairings/in-the-limelight-garden-variety-sweet-alyssum" class="underline">In the Limelight + Sweet Alyssum</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <h3 class="text-lowercase">Midnight in Pearis</h3>
                        <ul>
                            <li>
                                <a href="//jamnationjams.myshopify.com/blogs/pairings/midnight-in-pearis-cabot-clothbound" class="underline">Midnight in Pearis + Cabot Clothbound</a>
                            </li>
                            <li>
                                <a href="//jamnationjams.myshopify.com/blogs/pairings/midnight-in-pearis-lamuse-branbander-goat-gouda" class="underline">Midnight in Pearis + Goat Gouda</a>
                            </li>
                            <li>
                                <a href="//jamnationjams.myshopify.com/blogs/pairings/midnight-in-pearis-shakerag-blue" class="underline">Midnight in Pearis + Shakerag Blue</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-sm-4">
                        <h3 class="text-lowercase">To Peach His Own</h3>
                        <ul>
                            <li>
                                <a href="//jamnationjams.myshopify.com/blogs/pairings/to-peach-his-own-ledyard" class="underline">To Peach His Own + Ledyard</a>
                            </li>
                            <li>
                                <a href="//jamnationjams.myshopify.com/blogs/pairings/to-peach-his-own-marin-french-petite-breakfast" class="underline">To Peach His Own + Petite Breakfast</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-sm-4">
                        <h3 class="text-lowercase">Razzle Bazzle</h3>
                        <ul>
                            <li>
                                <a href="//jamnationjams.myshopify.com/blogs/pairings/razzle-bazzle-kenne" class="underline">Razzle Bazzle + Kenne</a>
                            </li>
                            <li>
                                <a href="//jamnationjams.myshopify.com/blogs/pairings/razzle-bazzle-picolo" class="underline">Razzle Bazzle + Picolo</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-offset-2 col-sm-4">
                        <h3 class="text-lowercase">Rose to the Grindstone</h3>
                        <ul>
                            <li>
                                <a href="//jamnationjams.myshopify.com/blogs/pairings/rose-to-the-grindstone-essex" class="underline">Rose To The Grindstone + Essex Comte</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-sm-4">
                        <h3 class="text-lowercase">Sublemonal Message</h3>
                        <ul>
                            <li>
                                <a href="//jamnationjams.myshopify.com/blogs/pairings/sublemonal-message-fiscalini-farms-san-joaquin-gold" class="underline">Sublemonal Message + San Joaquin Gold</a>
                            </li>
                            <li>
                                <a href="//jamnationjams.myshopify.com/blogs/pairings/sublemonal-message-manchego-1605" class="underline">Sublemonal Message + Manchego 1605</a>
                            </li>
                            <li>
                                <a href="//jamnationjams.myshopify.com/blogs/pairings/sublemonal-message-providence" class="underline">Sublemonal Message + Providence</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        var aSortByPrimary = $("a#aSortByPrimary");
        var aSortByJam = $("a#aSortByJam");
        var divSortByPrimary = $("div#divSortByPrimary");
        var divSortByJam = $("div#divSortByJam");

        aSortByPrimary.click(function () {
            aSortByJam.removeClass("text-muted");
            aSortByPrimary.addClass("text-muted");

            divSortByJam.stop(true, true);
            divSortByPrimary.stop(true, true);

            divSortByJam.fadeOut("normal", function () {
                divSortByPrimary.fadeIn();
            });
        });

        aSortByJam.click(function () {
            aSortByPrimary.removeClass("text-muted");
            aSortByJam.addClass("text-muted");

            divSortByPrimary.stop(true, true);
            divSortByJam.stop(true, true);

            divSortByPrimary.fadeOut("normal", function () {
                divSortByJam.fadeIn();
            });
        });
    });
</script>