relatedProductsFns = function () {
  function init(recommendations) {
    if (recommendations && recommendations.length && recommendations[0] !== '') {
      jQuery('div.related-products').each(function(index) {
        var list = $(this);
        for (var i=0; i < recommendations.length; i++) {
          jQuery.getJSON('/products/' + recommendations[i] + '.js', function(product) {
            list.append('<div class="col-sm-4"><div><a href="' + product.url +'"><img src="' + product.images[0].replace(/(\.jpg|\.png|\.jpeg|\.gif)/, '$1') + '" class="img-responsive" /></a></div><a href="' + product.url + '"><h4 class="text-lowercase">' + product.title + '</h4></a><br class="visible-xs" /></div>');
          });
        }
      });
    }
  }

  return {
    init: init
  }
} ();
